* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 550px;
    display: flex;
    background-image: url(../image/1\ background\ image.jpeg);
    background-size: cover;
}
.border{
    width: 140px;
    height: 75px;
    margin-top: 23px;  
    border: 2px solid white;
    display: flex;
    position: absolute;
    left: 20px;
    /* top: 09px; */
}

.content .menu {
    width: 20%;
    height: 550px;
    border: 1 px solid white;
    color: blue;
    background-color: rgba(84, 82, 80, 0.4);
}

.menu h1 {
    color: white;
    margin-left: 10%;
    width: 50%;
    margin-top: 10%;
    border: solid 2px white;
}

/* Nav */
.nav {
    margin-top: 05%;
}

.nav li {
    padding: 10px 80px;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.menu span {
    margin-top: 20%;
    margin-left: 29px;
    padding: 5px 02px;
    font-size: 20px;
    color: black;
    background-color: white;
}

.menu b {
    color: white;
    margin-left: 29px;
}

.menu .design {
    padding: 5px 20px;
}

/* Intro duction */
.content .card {
    width: 40%;
    height: 165px;
    margin-right: 10%;
    margin-top: 10%;
    margin-left: 30%;
    padding: 40px;
    color: white;
    background-color: rgba(179, 177, 176, 0.4);
}

.content h2 {
    color: skyblue;
    padding-bottom: 30px;
}

/* About us */
#i {
    width: 100%;
    height: auto;
    display: flex;
    display: inline-block;
}

.slide {
    width: 274px;
    height: 1450px;
    background-color: rgba(84, 82, 80, 0.4);
}

.About-us {
    width: 40%;
    height: auto;
    position: absolute;
    top: 600px;
    left: 150px;
}

.About-us .fa {
    margin-top: 5%;
    font-size: 100px;
    color: rgb(12, 166, 186);
    margin-left: 45%;
}

/* Heding first */
.p1 {
    color: rgb(12, 166, 186);
    margin-top: 5%;
    margin-left: 45%;
}

/* Peragraph 2 */
.p2 {
    margin-top: 5%;
    margin-left: 45%;
    text-align: justify;
}

/* peragraph 3 */
.p3 {
    margin-top: 5%;
    margin-left: 45%;
    text-align: justify;

}

/* Company */
.company {
    width: 39%;
    height: auto;
    display: flex;
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 850px;
}

#o {
    margin-top: 4%;
    font-size: 100px;
    color: rgb(12, 166, 186);
}

.p6 {
    color: rgb(12, 166, 186);
    margin-top: 5%;
}

.p4 {
    margin-top: 5%;
}

.p5 {
    margin-top: 5%;
}

.Our {
    width: 40%;
    height: 25%;
    display: flex;
    position: absolute;
    top: 1070px;
    left: 420px;
    border: double 5px gray;
    padding: 20px 20px;
    border: 1px solid black;
}
.border1{
    height: 220px;
    width: 43%;
    border: 1px solid black;
    display: flex;
    position: absolute;
    top: 1062px;
    left: 410px;
}


.work {
    position: absolute;
    top: -22px;
    margin-top: 4%;
}

.work h2 {
    color: skyblue;
}

.imj img {
    height: 80%;
    margin-top: 5%;
    padding: 0px 20px;

}

/* clients */
.Clients {
    width: 50%;
    display: flex;
    position: absolute;
    top: 1350px;
    left: 420px;
}

.Clients .cli {
    color: skyblue;
    margin-bottom: 5%;
}

.xy {
    width: 70%;
    display: flex;

    position: absolute;
    top: 1500px;
    left: 410px;
}

.yz img {
    border: 1px solid black;
    width: 20%;
    height: 55px;
    padding: 15px 5px;
}

.talk {
    width: 30%;
    display: flex;
    position: absolute;
    top: 1750px;
    left: 410px;
    border: 1px solid black;
    padding: 15px 10px;
}

.talk h1 {
    color: skyblue;
    padding: 5px;
}

.talk p {
    margin-top: 5%;
    padding: 5px;
}

/* Form */
.form {
    width: 30%;
    display: flex;
    position: absolute;
    top: 1750px;
    left: 950px;
}

.name input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.button {
    margin-left: 75%;
    background-color: white;
    padding: 10px;
}

textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.button a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}