@import url(./Font.css);

:root {
  --bg: #dce5f2;
  --lg1: #e6eef8;
}
.hed{
  margin-right: 10px;
}


/* Loder */
.loader {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  top: 250px;
}

.loader:before {
  content: "";
  position: absolute;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
  }

  100% {
    box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}


#main-content
{
    width: 100%;
    height: auto;
    position: relative;
    display: none !important;
}
/* login */
.l1 {
  width: 80%;
  height: auto;
  background-color: var(--bg);
  margin-top: 5%;
}
.l2 {
  width: 100%;
  height: 600px;
  background: url(../Image/Vector\ 6.png) no-repeat;
  background-size: 100% 100%;
}
.l3 {
  width: 80%;
  height: 500px;
  background: url(../Image/Vector\ 7.png) no-repeat;
  background-size: 100% 100%;
}
.l4 {
  width: 50%;
  height: 470px;
  background-color: var(--lg1) !important;
  margin-top: 2%;
  position: absolute;
  margin-left: 15%;
}
.bor {
  height: 400px;
  margin-top: 2%;
  border-right: 1px solid #d3e2f4;
}

.bor img {
  margin-top: 38%;
}
.logi {
  color: #4b93e7;
  font-size: 20px;
  font-family: poppins;
  text-decoration: none;
}
.lo {
  border-bottom: 4px solid yellow;
}
.sign {
  color: #4b93e7;
  font-family: poppins;
  font-size: 14px;
  padding: 0px 10px;
  text-decoration: none;
}
.fo1 {
  margin-top: 13%;
}
.f1,
.f2 {
  width: 60%;
  height: 40px;
  border: 1px solid #4b93e7;
}
.rem {
  color: white;
  font-family: poppins;
  font-size: 16px;
}
.pass {
  margin-left: 10%;
  text-decoration: none;
  color: #082777;
  font-family: poppins;
  font-size: 16px;
}
.b1 {
  width: 60%;
  background-color: #f7ac25;
  color: white;
  border: none;
  font-family: poppins;
  padding: 8px;
  transition: 1.2s;
}
input[text] {
  color: #4b93e7;
}
.b1:hover {
  box-shadow: 0px 0px 02px 2px #f7ac25;
}
.b2 {
  width: 60%;
  background-color: #4b93e7;
  color: white;
  border: none;
  font-family: poppins;
  padding: 8px;
  transition: 1s;
}
.b2:hover {
  box-shadow: 0px 0px 02px 2px #4b93e7;
}
.copy {
  margin-top: 5%;
  color: #4b93e7;
}
/* sign in */
.f1,
.f2,
.f3,
.f4,
.f5 {
  width: 60%;
  height: 40px;
  border: 1px solid #4b93e7;
}
.sig {
  border-bottom: 4px solid yellow;
}
.logi1 {
  font-size: 14px;
  padding: 0px 14px;
}
.sign1 {
  font-family: poppins;
  font-size: 30px;
  text-decoration: none;
}
.l3l {
  width: 100%;
  height: 800px;
  background: url(../Image/Vector\ 7.png) no-repeat;
  background-size: 100%;
}
.l4l {
  width: 100%;
  height: 750px;
  background: url(../Image/Vector\ 6.png) no-repeat;
  background-size: 100% 100%;
}
.l5l {
  width: 50%;
  height: 630px;
  background-color: var(--lg1) !important;
  margin-top: 2%;
  position: absolute;
  margin-left: 15%;
}
.bor1 {
  height: 500px;
  margin-top: 5%;
  border-right: 2px solid #d3e2f4;
}

.bor1 img {
  margin-top: 38%;
}
/* search */

.sidebar {
  height: 730px;
  background-color: #082777;
}
.sidebar img {
  margin-top: 18%;
}
.bi-house,
.bi-bag,
.bi-people-fill,
.bi-folder,
.bi-calendar {
  font-size: 24px;
  color: white;
}
.hom {
  color: white;
  font-family: poppins;
}

/* hedar */
.ser {
  /* height: 50px; */
  /* background-color: red; */
  /* margin-left: 1%; */
}
.bi-search {
  margin-top: 0.5%;
  width: 500px;
  background-color: #e5edf9;
}
.serchbar {
  padding: 2%;
  background-color: #ffffff;
}
.ser1 {
  background-color: #e5edf9;
}

.pho {
  height: 61px;
  background-color: #ffffff;
  margin-left: 40%;
  margin-top: 1%;
}

.over {
  width: 100%;
  height:800px;
  margin-top: 1%;
  background-color: #d3e2f4;
}
.upc {
  width: 100%;
  height: auto;
  background-color: #dce5f2;
}
.bi-plus-circle {
  background-color: #4b93e7;
  border: none;
  border-radius: 08px;
  padding: 5px;
}
.btn1 {
  margin-left: 40%;
  margin-top: 1%;
}
/* card */

.nb1{
  width: 05%;
  height: 70px !important;
  border: 2px solid black;
  height: 100px;
  background-color: #F3F8FF;
  border-radius: 10px;
  position: absolute;
  
}
.ints,.ints1{
  margin-top: 3%;
  width: 22%;
  height: 200px;
  background-color: #F3F8FF;
  margin-left: 2%;
  
}
.ints img,.ints1 img{
  margin-left: 55%;
  margin-top: 16%;
}
.int{
  width: 10px;
  font-family: poppins;
  margin-top: 50px !important;
  position: absolute;
}
/* upc */
.up{
  font-family: poppins;
  color: #071C50;
}






